<!-- Barra superior -->
<div class="top-bar">
  <div class="info">
    <span><i class="fas fa-phone"></i>(+593) 99 988 5332</span>
    <span><i class="fas fa-envelope"></i>info&#64;itsqmet.edu.ec</span>
    <span><i class="fas fa-map-marker-alt"></i>Malecón Cerón N° 105 y Calle B (Nueva Tola 2)</span>
  </div>
  <div class="social-icons">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-youtube"></i>
  </div>
</div>

<!-- Navbar principal -->
<nav>
  <div class="navbar">
    <div class="logo">
      <a href="/"><img src="https://sisacad.itsqmet.edu.ec/img/LogoGrisSinFondo.png" alt="ITSOMET" width="150"></a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="nosotros">Nosotros</a></li>
      <li><a routerLink="infraestructura">Infraestructura</a></li>
      <li><a href="https://campusvirtual.itsqmet.edu.ec/campusV">Campus Virtual</a></li>
    </ul>
    
    <!-- ÚNICAMENTE ocultar botones de login/registro si está autenticado -->
    <div class="auth-buttons" *ngIf="!isLoggedIn()">
      <a routerLink="login" class="btn-auth btn-login">
        <i class="fas fa-user"></i>
        <span>Iniciar Sesión</span>
      </a>
      <a routerLink="login" class="btn-auth btn-register">
        <i class="fas fa-user-plus"></i>
        <span>Registrarse</span>
      </a>
    </div>
    
    <div class="contact">
      <a href="tel:+593999885332">
        <i class="fab fa-whatsapp"></i>
        <div>
          <span>CONTÁCTANOS</span>
          <span>+593 99 988 5332</span>
        </div>
      </a>
    </div>
  </div>
</nav>