/* Menú de navegación */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10; /* Asegura que la navbar quede por encima del contenido */
}

.main-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo img {
    height: 50px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #fbb034;
}

/* Espacio adicional para el contenido debajo de la navbar */
body {
    margin-top: 80px; /* Ajusta este valor según la altura de la navbar */
}
