<div class="container">
    <div class="stats-container">
        <div class="stat">
            <span class="number">16</span>
            <span class="text">CARRERAS TECNOLÓGICAS</span>
        </div>
        <div class="stat">
            <span class="number">219</span>
            <span class="text">DOCENTES ESPECIALIZADOS</span>
        </div>
        <div class="stat">
            <span class="number">2717</span>
            <span class="text">ESTUDIANTES GRADUADOS</span>
        </div>
        <div class="stat">
            <span class="number">2073</span>
            <span class="text">ESTUDIANTES MATRICULADOS</span>
        </div>
    </div>
</div>
 <br>
 <br>
 <section class="hero">
    <div class="overlay"></div>
    <div class="content">
        <h1>PROGRAMA DE <span class="highlight">VALIDACIÓN</span> <br>DE CONOCIMIENTOS - PVC</h1>
        <p class="subtitle">Obtén tu título de Tercer Nivel en tan solo 9 meses</p>
        <p class="description">
            El programa de validación de conocimientos (PVC) es un <strong>programa de 9 meses</strong> diseñado 
            para <strong>validar los conocimientos</strong> y habilidades de los estudiantes en las áreas empresariales 
            y tecnológicas.
        </p>
        <a href="#" class="btn">Conoce más</a>
    </div>
</section>