<div class="container">
    <div class="stats-container">
      <h2 class="stats-title">NUESTRAS ESTADÍSTICAS</h2>
      
      <div class="stats-grid">
        <div *ngFor="let stat of stats" class="stat-card">
          <div class="icon-container">
            <i class="fas {{stat.icon}}"></i>
          </div>
          <span class="number">{{ stat.number.toLocaleString() }}</span>
          <span class="text">{{ stat.text }}</span>
        </div>
      </div>
    </div>
  </div>
 <br>
 <br>
 <section class="hero">
    <div class="overlay"></div>
    <div class="content">
        <h1>PROGRAMA DE <span class="highlight">VALIDACIÓN</span> <br>DE CONOCIMIENTOS - PVC</h1>
        <p class="subtitle">Obtén tu título de Tercer Nivel en tan solo 9 meses</p>
        <p class="description">
            El programa de validación de conocimientos (PVC) es un <strong>programa de 9 meses</strong> diseñado 
            para <strong>validar los conocimientos</strong> y habilidades de los estudiantes en las áreas empresariales 
            y tecnológicas.
        </p>
        <a href="#" class="btn">Conoce más</a>
    </div>
</section>